.footer {
  background-color: cl(primary);
  padding-bottom: 42px;
  border-top: 1px solid #6E6E6E;
  .inner {

  }
  .footer-nav-wrap {
    padding: 62px 0;
  }
  .footer-nav-list {
    text-align: center;
    @include overTab {
      display: flex;
      justify-content: center;
    }

  }
  .footer-nav-item {
    + .footer-nav-item {
      margin-top: 20px;
      @include overTab {
        margin-left: 50px;
        margin-top: 0;
      }
      
    }
    a {
      font-size: 16px;
      color: cl(white);
      }
  }
  .footer-logo {
    width: 188px;
    margin-left: auto;
    margin-right: auto;
  }
  .copyright {
    padding-top: 20px;
    color: cl(white);
    font-size: 16px;
    text-align: center;
  }
}