.faq {
  .faq-cont {
    padding: 0 0 70px;
    @include overTab {
      padding: 0 4vw 70px;
    }
    
  }
  .faq-list {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }
  .faq-item {
    > a {
      background-color: cl(white);
      display: block;
      padding: 14px;
      border-bottom: 1px solid #E5E5E5;
      @include overTab {
        text-align: center;
        padding: 20px 0;
      }
      .title {

      }
    }
    .detail {
      background-color: cl(lightgrey);
      padding: 14px;
      border-bottom: 1px solid #E5E5E5;
      display: none;
      @include overTab {
        padding: 25px 50px;
      }
    }
  }

}