.mv {
  background-image: url(../image/top-mv_sp.png);
  background-size: cover;
  background-position: center;
  height: 674px;
  position: relative;
  margin-top: 94px;
  @include overTab {
    background-image: url(../image/top-bg.png);
  }
  .mv-title {
    font-size: 35px;
    color: cl(white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    width: 100%;
    @include overTab {
      font-size: 50px;
    }
  }
}